
.body{
    family-fonts: 'Sarabun', sans-serif;
}


#paginaInicio{
    display: block;
}

header{
    height: 60px;
    width: 100%;
    background-color: #175ABF;
  
}

.frase {
    margin: auto;
    text-align: center;
}

.imagenlogo {
    display: block;
    margin: auto;
    width: 400px;
    justify-content: center;
}

#ingresar {
    background-color: #175ABF;
    border-radius: 50px;
    padding: 5px 30px 5px 30px;
    color:white;
    display: block;
    margin: auto;
    font-size: 18px;
}

#paginaFormulario{
    display: none;
}


.imagenlogo2 {
    display: block;
    width: 200px;
    justify-content: flex-start;
    margin-left: 100px;
    left: 200px;
}

.frase2{
   position: absolute;
   text-align: center;
   left: 400px;
   height: 100%;
   width: 100%;
   margin: -15% 0 0 -15%;
 }

#formulario {
    margin-top: auto;
    background-color: #F5B041 ;
    padding: 50px;
    border-radius: 50px;
    width: 250px;
    height: 350px;
    left: 500px;
    top: 150px;
    position: absolute;
}

#Nombre{
    background-color:  #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}

#FechaTarjeta{
    background-color: #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}

#cvv{
    background-color:  #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}

#numeroTarjeta{
    background-color: #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin:auto;
    font-size: 12px;
}

#validar{
    background-color: #175ABF;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    color: white;
    display: block;
    margin:auto;
    font-size: 14px;
}

#volver{
    background-color: #175ABF;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    color: white;
    display: block;
    margin:auto;
    font-size: 14px;
}

.imagentarjetas{
    display: block;
    width: 100px;
    justify-content: flex-end;
    order: default 1;
}
